.hero {
  background: rgba(86, 64, 52, 0.70);
  position: relative;
  margin: 0;
  padding: 0;
}

.hero__container {
  position: relative;
  padding: 194px 0;
  min-height: 33.89458272327965vw;
  display: flex;
  justify-content: center;
}

.hero__img-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(86, 64, 52, 0.70);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }
}

.hero__img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__headings {
  position: relative;
  z-index: 10;
  text-align: center;
  max-width: 1000px;
}

.hero__headings h2 {
  margin: 0;
  padding: 0;
  color: $color-default-white;
  font-family: $ff-cormorant;
  margin-bottom: 20px;
  font-size: 3.294289897510981vw;
  font-weight: 700;
  line-height: 4.282576866764275vw;
}

.hero__headings h3 {
  margin: 0;
  padding: 0;
  color: $color-default-white;
  font-family: $ff-cormorant;
  font-size: 2.781844802342606vw;
  font-style: italic;
  font-weight: 400;
  line-height: 3.616398243045388vw;
}
