.main-nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0 98px;
    padding-top: 24px;
    list-style: none;
    justify-content: center;
  }

  &__item {
    margin-right: 34px;
  }

  &__link {
    color: #1D1613;
  }

  &__toggle {
    display: none;
  }
}
