mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "What’s new"
      },
      {
        href: "#",
        text: "Chokers"
      },
      {
        href: "#",
        text: "Necklaces"
      },
      {
        href: "#",
        text: "Rings"
      },
      {
        href: "#",
        text: "Earrings"
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
      else
      .header__wrapper
        .header__content
          .header__search-wrapper
            +icon("search", 14, 14)
            input.header__search(type="search", name="search", placeholder="Type here to search")
          a.header__logo(href="index.html", aria-label="Переход на главную")
            +icon("logo", 66, 66)
          button.btn.header__login-button(type="button") Login
          a.header__cart(href="#", aria-label="Переход на страницу оформления товара") Cart 0
        nav.main-nav
          button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
            +icon("icon-burger", 20, 20)
          .main-nav__wrapper
            ul.main-nav__list
              each link in headerLinks
                - const activeState = currentUrl === link.href
                li.main-nav__item
                  if(activeState)
                    span.main-nav__link.is-active= link.text
                  else
                    a.main-nav__link(href=link.href)= link.text
